<section class="page-container">
    <h2 class="page-title">All Recipes by 👨‍🍳 <%= current_user.name %></h2>
    <div class="recipes-list">
    <% @recipes.each do |recipe| %>
        <article class="recipe-card">
            <header>
                <h3><%= link_to recipe.name, recipe_path(recipe), class: "recipe-card-title" %></h3>
                <div class="recipe-meta">
                    <span class="recipe-time"> ⏰ Prep: <%= recipe.preparation_time %> Hr</span>
                    <span class="recipe-time"> ⏲ Cooking: <%= recipe.cooking_time %> Hr</span>
                    <span>👀 Public: <%= recipe.public %></span>
                </div>
                <div class="recipe-action">
                    <%= form_with model: [recipe], method: :delete do |f| %>
                        <%= f.submit "Remove", class: "remove-recipe-btn" %>
                    <% end %>
                </div>
            </header>
            <div class="recipe-body">
                <h3>Description</h3>
                <p><%= recipe.description %></p>
            </div>
        </article>
    <% end %>
    </div>
</section>


