<%= render 'public/header' %>
<section class="page-container">
    <% if @recipes.empty? %>
        <%= render 'empty_recipes' %>
    <% else %>
        <h2 class="page-title">All <%= pluralize(@recipes.length, 'Recipe') %> by 👨‍🍳 <%= current_user.name %></h2>
        <section class="recipes-list">
        <%= link_to "Create New Recipe", new_recipe_path, class: "cta-btn" %>
        <% @recipes.each do |recipe| %>
            <div class="recipe-card">
                <header>
                    <h3><%= link_to recipe.name, recipe_path(recipe), class: "recipe-card-title" %></h3>
                    <div class="recipe-meta">
                        <span> ⏰ Prep: <%= recipe.preparation_time %> Min</span>
                        <span> ⏲ Cook: <%= recipe.cooking_time %> Min</span>
                        <% if recipe.public %>
                            <span>👀 Public </span>
                        <% end %>
                    </div>
                    <div class="recipe-action">
                        <%= form_with model: recipe, method: :delete do |f| %>
                            <%= f.submit "Remove", class: "warning-btn" %>
                        <% end %>
                    </div>
                </header>
                <div class="recipe-body">
                    <h3>Description</h3>
                    <p><%= recipe.description %></p>
                </div>
            </div>
        <% end %>
        </section>
    <% end %>
</section>
<%= render 'public/footer' %>
