<%= render 'public/header' %>
<section class="page-container">
    <h2 class="page-title"><%= @recipe.name %></h2>

    <section class="recipe-detail">
      <header class="recipe-header">
        <div>
          <span>Created By: 👨‍🍳</span>
          <span><%= @recipe.user.name %></span>
        </div>
        <div class="recipe-time">
          <span>Preparation Time: ⏱</span>
          <span><%= @recipe.preparation_time %> minutes</span>
        </div>
        <div class="recipe-time">
          <span>Cooking Time: ⏰</span>
          <span><%= @recipe.cooking_time %> minutes</span>
        </div>
        <div>
          <span>Public:</span>
          <div class="toggle-container <%= @recipe.public ? "on" : "off" %>">
            <%= form_with model: @recipe do |form| %>
              <%= form.check_box :public, checked: !@recipe.public, hidden: true %>
              <%= form.submit "" %>
            <% end %>
          </div>
        </div>
      </header>

      <div class="recipe-detail">
        <h3>Description:</h3>
        <p><%= @recipe.description %></p>
      </div>
    </section>

    <div>
      <h3>Foods:</h3>
      <% if @recipe.foods.any? %>
        <ul>
          <% @recipe.foods.each do |food| %>
            <li><%= food.name %></li>
          <% end %>
        </ul>
      <% else %>
        <p>No foods added yet.</p>
      <% end %>
    </div>

    <div class="recipe-actions">
      <%= link_to "Add Ingredient", new_food_path %>
      <%= link_to "Generate Shopping List", root_path %>
      <%= link_to "Delete Recipe", root_path, class: "del-btn" %>
    </div>
</section>


