<%= render 'public/header' %>
<section class="page-container">
<div class="auth-form">
  <h2>Log in</h2>
  <h3>Welcome Back to KitchenGenie!</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, required: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, required: true, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="check-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    <%= link_to "Cancel", root_path, class: "secondary-btn" %>

  <% end %>

  <div class="link-container">
    <%= render "devise/shared/links" %>
  </div>
</div>
</section>