<%= render 'public/header' %>
<section class="food-section">
    <h2 class="page-title">Your Food List</h2>
    <% if @foods.empty? %>
        <div class="list-empty-page">
            <p>You haven't added any food yet!</p>
            <%= link_to 'Add Food', new_food_path, class: 'cta-btn' %>
            <%= link_to 'Back to Home', root_path, class: 'secondary-btn' %>
        </div>
    <% else %>
    <div class="food-btn-bar">
        <%= link_to 'Add New Food', new_food_path, class: 'cta-btn' %>
    </div>
    <section class="responsive-table">
    <table>
        <thead>
            <tr>
                <th>Food</th>
                <th>Measurement Unit</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @foods.each do |food|%>
              <tr>
                <td>
                    <%= food.name %>
                </td>
                <td>
                    <%= food.measurement_unit %>
                </td>
                <td>
                    <%= food.quantity %>
                </td>
                <td>
                    <%= food.price %>
                </td>
                <td>
                    <%= button_to 'Delete', food_path(food), method: :delete, data: { confirm: 'Are you sure want to delete this food?' }, class: 'table-action-btn' %>
                </td>
              </tr>
            <% end %>
        </tbody>
    </table>
    </section>
    <% end %>
</section>
<%= render 'public/footer' %>
