<%= render 'public/header' %>
<section class="page-container">
<h2 class="page-title">Shopping List</h2>

<h4>Food Types to Buy:</h4>
<p><%= @food_types %></p>

<div class="total">
  <h2>Total Value:</h2>
  <p><span><%= @total_value %></span></p>
</div>

<table>
  <thead>
    <tr>
      <th>Food Item</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Price</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @shopping_list.each do |food_id, item| %>
      <% if item[:quantity] > 0 %>
        <tr>
          <td><%= item[:name] %></td>
          <td><%= item[:quantity] %></td>
          <td><%= item[:measurement_unit] %></td>
          <td><%= item[:price] %></td>
          <td><%= item[:value] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</section>

