<%= render 'public/header' %>
<section class="page-container">
<h2 class="page-title">🛒 Shopping List</h2>

<% if @food_types.zero? %>
  <div class="list-empty-page">
    <p>Your shopping list is currently empty. Create a new recipe or add ingredients to your recipes.</p>
    <%= link_to "Your Recipes", recipes_path, class: "cta-btn" %>
    <%= link_to "Back to Home", root_path, class: "secondary-btn" %>
  </div>
<% else %>
<section class="responsive-table">
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Food</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @shopping_list.each_with_index do |(id, item), index| %>
        <% if item[:quantity] > 0 %>
          <tr>
            <td><%= index + 1%></td>
            <td><%= item[:name] %></td>
            <td><%= item[:quantity] %></td>
            <td><%= item[:measurement_unit] %></td>
            <td><%= item[:price] %></td>
            <td class="right">$ <%= item[:value] %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5"><strong>Total Value:</strong></td>
        <td>$ <%= @shopping_list.values.map { |i| i[:value].positive? ? i[:value] : 0 }.sum %></td>
      </tr>
    </tfoot>
  </table>
  </section>
<% end %>
</section>
<%= render 'public/footer' %>