<header class="main-header">
  <nav>
    <div>
      <h1><%= link_to "Kitchen Genie", root_path, class: "brand" %></h1>
    </div>
    <ul class="nav-links">
      <li><%= link_to "Food List", foods_path, class: "link" %></li>
      <li><%= link_to "Recipe List", recipes_path, class: "link" %></li>
      <li><%= link_to "Public Recipes", root_path, class: "link" %></li>
      <li><%= link_to "Shopping List", root_path, class: "link" %></li>
    </ul>
     <% if user_signed_in? %>
        <div class="user-info">
          <div>
            <span class="user-icon"><%= current_user.name[0].upcase %></span>
            <span class="user-name"><%= current_user.name %></span>
          </div>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "warning-btn" %>
        </div>
      <% else %>
        <div class="user-actions">
          <%= link_to 'Register', new_user_registration_path, class: "warning-btn" %>
          <%= link_to 'Log In', new_user_session_path, class: "warning-btn" %>
        </div>
      <% end %>
  </nav>
</header>
<% if notice %>
    <div class="alert alert-info"><%= notice %></div>
<% end %>
<% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
<% end %>